@page "/tables/edit"
@using Domain.Data.Identity
@using WebApplication.Service.Identity

@inject IdentityManager IdentityManager

<PageTitle>Редактирование стола</PageTitle>

<h3>Редактирование стола</h3>

@code {
    [Parameter]
    [SupplyParameterFromQuery(Name = "id")]
    public Guid? CurrentTableId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!IdentityManager.CheckAuthorizationWithRedirect(RoleConstants.Administrator, RoleConstants.Manager))
        {
            return;
        }
    }
}
