@using SharedApplicationsData.Service.Identity
@inherits LayoutComponentBase

@inject IdentityManager IdentityManager
@inject IdentityService IdentityService
@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (IdentityManager.IsAuthorized)
            {
                <label>
                   @IdentityManager.Identity.FullName 
                   <a @onclick=@(() => { IdentityService.LogOut(); NavigationManager.NavigateTo("authentication/login");})>Logout</a>
                </label>
            }
            else
            {
                <a href="authentication/login">Login</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
